<!-- BANNER -->
<div class="bannercontainer bannerV1">
  <div class="fullscreenbanner-container">
    <div class="fullscreenbanner">
      <ul>
        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
          <%= image_tag('slider-bg.jpg', alt: 'slidegb1', data: { bgfit: "cover", bgposition: "center center", bgrepeat: "no-repeat" } )%>
          <div class="slider-caption slider-captionV1 container">

            <div class="tp-caption rs-caption-1 sft start"
              data-hoffset="0"
              data-x="700"
              data-y="0"
              data-speed="800"
              data-start="1500"
              data-easing="Back.easeInOut"
              data-endspeed="300" >
              <%= image_tag('vtlogo.png', alt: "slider-image", style: "width: auto; height: auto;") %>
            </div>

            <div class="tp-caption rs-caption-2 sft"
              data-hoffset="0"
              data-y="100"
              data-x="[15,15,42,15]"
              data-speed="800"
              data-start="2000"
              data-easing="Back.easeInOut"
              data-endspeed="300">
              VeriTech Callrouting
            </div>

            <div class="tp-caption rs-caption-3 sft"
              data-hoffset="0"
              data-y="175"
              data-x="[15,15,42,15]"
              data-speed="1000"
              data-start="3000"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off">
              The Lowest Price Router, Period<br>
              <small>Set up funnels to distribute calls to buyers in minutes.</small>
            </div>
            <div class="tp-caption rs-caption-4 sft"
              data-hoffset="0"
              data-y="310"
              data-x="[15,15,42,15]"
              data-speed="800"
              data-start="3500"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off">
              <span class="page-scroll"><%= link_to "Sign up <i class='fa fa-chevron-right'></i>".html_safe, '#signup', class: 'btn primary-btn', data: {toggle: 'modal' } %>
              </span>
            </div>
          </div>
        </li>
        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700"  data-title="Slide 2">
          <%= image_tag('slider-bg.jpg', alt: 'slidegb1', data: { bgfit: "cover", bgposition: "center center", bgrepeat: "no-repeat" } )%>
          <div class="slider-caption slider-captionV1 container">
            <div class="tp-caption rs-caption-1 sft start"
              data-hoffset="0"
              data-y="0"
              data-x="[15,15,42,15]"
              data-speed="800"
              data-start="1500"
              data-easing="Back.easeInOut"
              data-endspeed="300">
              <%= image_tag('main1.png', alt: "slider-image") %>
            </div>

            <div class="tp-caption rs-caption-2 sft "
              data-hoffset="0"
              data-y="100"
              data-x="600"
              data-speed="800"
              data-start="2000"
              data-easing="Back.easeInOut"
              data-endspeed="300">
              Get Talking
            </div>

            <div class="tp-caption rs-caption-3 sft"
              data-hoffset="0"
              data-y="175"
              data-x="600"
              data-speed="1000"
              data-start="3000"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off">
              With Quick Setup <br>
              <small>You'll be sending leads to your agents in no time.</small>
            </div>

            <div class="tp-caption rs-caption-4 sft"
              data-hoffset="0"
              data-y="310"
              data-x="600"
              data-speed="800"
              data-start="3500"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off">
              <span class="page-scroll"><%= link_to "Sign up <i class='fa fa-chevron-right'></i>".html_safe, '#signup', class: 'btn primary-btn', data: {toggle: 'modal' } %></span>
            </div>
          </div>
        </li>
        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 3">
            <%= image_tag('slider-bg.jpg', alt: 'slidegb1', data: { bgfit: "cover", bgposition: "center center", bgrepeat: "no-repeat" } )%>
            <div class="slider-caption slider-captionV1 container">

              <div class="tp-caption rs-caption-1 sft start"
                data-hoffset="0"
                data-x="450"
                data-y="54"
                data-speed="800"
                data-start="1500"
                data-easing="Back.easeInOut"
                data-endspeed="300" >
                <%= image_tag('main3.png', alt: "slider-image", style: "width: 461px; height: 416px;") %>
              </div>

              <div class="tp-caption rs-caption-2 sft"
                data-hoffset="0"
                data-y="100"
                data-x="[15,15,42,15]"
                data-speed="800"
                data-start="2000"
                data-easing="Back.easeInOut"
                data-endspeed="300">
                Huge Savings
              </div>

              <div class="tp-caption rs-caption-3 sft"
                data-hoffset="0"
                data-y="175"
                data-x="[15,15,42,15]"
                data-speed="1000"
                data-start="3000"
                data-easing="Power4.easeOut"
                data-endspeed="300"
                data-endeasing="Power1.easeIn"
                data-captionhidden="off">
                Versus competing call routers<br>
                <small>Find out for yourself.</small>
              </div>
              <div class="tp-caption rs-caption-4 sft"
                data-hoffset="0"
                data-y="310"
                data-x="[15,15,42,15]"
                data-speed="800"
                data-start="3500"
                data-easing="Power4.easeOut"
                data-endspeed="300"
                data-endeasing="Power1.easeIn"
                data-captionhidden="off">
                <span class="page-scroll"><%= link_to "Sign up <i class='fa fa-chevron-right'></i>".html_safe, '#signup', class: 'btn primary-btn', data: {toggle: 'modal' } %></span>
              </div>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    
    <div class="page-header">
      <h4>Features</h4>
    </div>
    
    <div class="row featuredCollection margin-bottom">
      <div class="col-md-4 col-12">
        <div class="thumbnail">
          <div class="imageWrapper">
            <%= image_tag("featured1.jpg", alt: "feature-collection-image") %>
            <div class="caption">
                <h3>Distribute Calls</h3>
                <small>Pay Per Minute</small>
            </div>
            <div class="masking">
              <%= link_to 'Sign Up', '#signup', class: 'btn viewBtn', data: {toggle: 'modal' } %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="thumbnail">
          <div class="imageWrapper">
            <%= image_tag('featured2.jpg', alt: "feature-collection-image") %>
            <div class="caption">
                <h3>Custom Verticals</h3>
                <small>You Set Your Own Verticals</small>
            </div>
            <div class="masking">
              <%= link_to 'Get Started', '#signup', class: 'btn viewBtn', data: {toggle: 'modal' } %>
            </div>
          </div>
         
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="thumbnail">
          <div class="imageWrapper">
            <%= image_tag('featured3.jpg', alt: "feature-collection-image") %>
            <div class="caption">
                <h3>Unlimited Campaigns</h3>
                <small>Get Started Today</small>
            </div>
            <div class="masking">
              <%= link_to 'Take Action', '#signup', class: 'btn viewBtn', data: {toggle: 'modal' } %>
            </div>
          </div>
          
        </div>
      </div>
    </div>
     
    <div class="page-header">
      <h4>Videos</h4>
    </div>
    <div class="row latestArticles">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="http://youtube.com">
            <%= image_tag("youtube1.jpg", alt: "article-image") %>
          </a>
          <div class="date-holder">
            <p>01</p>
            <span>NOV</span>
          </div>
          <h5><a href="http://youtube.com">YouTube Demo 1.</a></h5>
          <span class="meta"> by <a class="pr-1" href="#">Kevin</a></span>
          <div class="caption">
            <p>Description of this howto video.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="http://youtube.com">
            <%= image_tag("youtube3.jpg", alt: "article-image") %>
          </a>
          <div class="date-holder">
            <p>02</p>
            <span>DEC</span>
          </div>
          <h5><a href="http://youtube.com">YouTube Demo 2.</a></h5>
          <span class="meta"> by <a class="pr-1" href="#">Kevin</a></span>
          <div class="caption">
            <p>Description of this second howto video.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="http://youtube.com">
            <%= image_tag("youtube2.jpg", alt: "article-image") %>
          </a>
          <div class="date-holder">
            <p>03</p>
            <span>Jan</span>
          </div>
          <h5><a href="http://youtube.com">YouTube Demo 3.</a></h5>
          <span class="meta"> by <a class="pr-1" href="#">Kevin</a></span>
          <div class="caption">
            <p>Description of this third howto video.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- LIGHT SECTION -->
<section class="lightSection clearfix">
  <div class="container">
    <div class="owl-carousel partnersLogoSlider">
    </div>
  </div>
</section>

<!-- FOOTER -->
<%= render partial: 'footer' %>

<!-- LOGIN MODAL -->
<%= render partial: '/sessions/login_modal' %>

<!-- SIGN UP MODAL -->
<%= render partial: '/users/signup_modal' %>

<!-- PORDUCT QUICK VIEW MODAL -->
<div class="modal fade quick-view" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<div class="media flex-wrap">
					<div class="media-left px-0">
            <%= image_tag('quick-view-01.jpg', alt: 'image', class: 'media-object') %>
					</div>
					<div class="media-body">
						<h2>Old Skool Navy</h2>
						<h3>$149</h3>
						<p>Classic sneaker from Vans. Cotton canvas and suede upper. Textile lining with heel stabilizer and ankle support. Contrasting laces. Sits on a classic waffle rubber sole.</p>
						<span class="quick-drop">
							<select name="guiest_id3" id="guiest_id3" class="select-drop">
								<option value="0">Size</option>
								<option value="1">Size 1</option>
								<option value="2">Size 2</option>
								<option value="3">Size 3</option>
							</select>
						</span>
						<span class="quick-drop resizeWidth">
							<select name="guiest_id4" id="guiest_id4" class="select-drop">
								<option value="0">Qty</option>
								<option value="1">Qty 1</option>
								<option value="2">Qty 2</option>
								<option value="3">Qty 3</option>
							</select>
						</span>
						<div class="btn-area">
							<a href="#" class="btn btn-primary btn-block">Add to cart <i class="fa fa-angle-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>