<div id='flash_messages'>
</div>
<h3><%= link_to 'Dashboard', dashboard_path, remote: true, style: 'color:#1da3ed;' %> / <%= link_to 'Destinations', campaigns_path, remote: true, style: 'color:#1da3ed;' %> / <%= link_to "Add New <i class='fa fa-plus-circle'></i>".html_safe, new_campaign_path, remote: true, style: 'color:#1da3ed;' %></h3>
<p> </p>
<div class="orderBox" id="campaigns_orderBox">
  <h4>Destinations</h4>
  <div class="table-responsive">
    <table class="table" id="campaigns_table">    
      <tbody> 
        <% if current_user.campaigns.blank? %>
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tr>
            <td style="color:black;">Please create your first destination at your convenience.</td>
            <td><%= link_to "Add New <i class='fa fa-plus-circle'></i>".html_safe, new_campaign_path, remote: true, style: 'color:#1da3ed;' %></td>
          </tr>
        <% else %>
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Vertical</th>
              <th>Funnels</th>
              <th>Daily Call Limit</th>
              <th>Total Calls</th>
              <th></th>
            </tr>
          </thead>
          
          <%= render partial: 'list_campaigns' %>
          
        <% end %>
      </tbody>
    </table>
  </div>
</div>
