  <!-- FOOTER -->
  <div class="footer clearfix">
    <div class="container">
      <div class="row">
        <div class="col-sm-2 col-xs-12">
        </div>
        <div class="col-sm-2 col-xs-12">
        </div>
        <div class="col-sm-2 col-xs-12">
        </div>
        <div class="col-sm-2 col-xs-12">
          <div class="footerLink">
            <h5>Get in Touch</h5>
            <ul class="list-unstyled">
              <li>Call us at (833) 420-5232</li>
              <li><a href="mailto:info@msmleads.com">info@msmleads.com</a></li>
            </ul>
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
              <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="newsletter clearfix">
            <h4>Newsletter</h4>
            <h3>Sign up now</h3>
            <p>Enter your email address and get notified about new updates. We hate spam!</p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="your email address" aria-describedby="basic-addon2">
              <a href="#" class="input-group-addon" id="basic-addon2">go <i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
  <!-- COPY RIGHT -->
  <div class="copyRight clearfix">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-xs-12">
          <p>&copy; <%= Time.current.year %> <a target="_blank" href="http://msmleads.com/">Veritech, Inc.</a></p>
        </div>
        <div class="col-sm-5 col-xs-12">
          <ul class="list-inline">
            <li><%= image_tag("card1.png") %></li>
            <li><%= image_tag("card2.png") %></li>
            <li><%= image_tag("card3.png") %></li>
            <li><%= image_tag("card4.png") %></li>
          </ul>  
        </div>
      </div>
    </div>
  </div>
</div>