<a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Why VD CallRouting</a>
<ul class="dropdown-menu dropdown-menu-left">
  <li class=""><%= link_to 'Features', login_url, data: { turbolinks: false } %></li>
  <li><%= link_to 'About', login_url, data: { turbolinks: false } %></li>
  <li><%= link_to 'Contact', login_url, data: { turbolinks: false } %></li>
  <li><%= link_to 'FAQ', login_url, data: { turbolinks: false } %></li>
  <li><%= link_to 'Pricing', login_url, data: { turbolinks: false } %></li>
</ul>